<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% include '../components/_navbar.html' %}
    <div class="flex flex-wrap gap-8 my-8 justify-center items-center">
      {% for blog in blogs %}
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg"
        onclick="window.location.href='/blog/{{ blog.id }}'"
      >
        <img
          class="w-64 h-64 object-cover"
          src="{{ blog.image.url }}"
          alt="{{ blog.title }}"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ blog.title }}</div>
          <p class="text-gray-700 font-semibold text-base">{{ blog.subtitle }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
